{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navbar.html' %}

<section class="container mt-5 text-center">
    <small>I'm not using any authentication system , but if any one want to add. feel free to use django allauth or custom authentication</small><br>
    <span class="font-weight-bold mb-5" style="font-size: 28px;">Welcome to Django | Natter</span><hr>
    <img src="https://files.realpython.com/media/django-channels-logo.51138674da28.png" alt=""><hr>
     This app was built in with django channel !
     The feature in this app is very simple <br>
     Private _ chat system  & Group _ chat system <br>
     In private-chat an user can connect other user, and they can have there really time chat!<br>
     In Group-chat an user can connect multipule user, and they can have there really time chat!</p>

    <small>if any one want to upgrade some feature, it will be pleasure</small>

</section>


{% endblock %}