{% comment %} {% load crispy_forms_tags %} {% endcomment %}
      <!-- Search form -->
<nav class="navbar navbar-expand-lg navbar-light bg-light container">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'natter:home' %}"><span class='ui horizontal label violet' style='font-size:1rem;'>Django | Natter</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link active text-dark font-weight-bold" aria-current="page" href="{% url 'private_chat:private-chat-home' %}">Private Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" aria-current="page" href="{% url 'natter:index' %}" >Group Chat</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="#">My Profile</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" aria-current="page" href="#">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" aria-current="page" href="#">Login</a>
            </li>
            {% endif %}
        </ul>
        <ul>
            <p class='nav-item float-right'>
              <a class='nav-link text-dark font-weight-bold' aria-current='page' herf='#'>{{request.user.username}}</a>
            </p>
        </ul>

        </div>

    </div>
</nav>
